@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  background-color: rgb(125 211 252);
}

.enterRaffle {
  margin-top: 20px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*margin: 4px 2px;*/
  border-radius: 8px;
  box-shadow: 3px 9px #999;
  cursor: pointer;
}

.enterRaffle:hover {background-color: #3e8e41}

.enterRaffle:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

